/* font */
/* title : 런드리 고딕체 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* content : Pretendard 체 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* default */
body {
    margin: 0;
    font-family: 'Pretendard-Regular';
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3vh;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.header-brand-name {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header-icons img {
    width: 25px;
    height: 25px;
    transition: transform 0.2s;
}

.header-icons img:hover {
    transform: scale(1.05);
}
#header-search-icon {
    margin-right: 10px;
}

/* main */
main {
    width: 100vw;
    height: calc(100vh - 5vh - 7vh);
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 7vh;
    background-color: #F3F3F3;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: #f8f8f8;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

footer .icon {
    text-align: center;
    flex: 1;
}

footer .icon img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

footer .icon label {
    display: block;
    font-size: 12px;
    color: #666;
}

footer .page-button {
    position: absolute;
    top: -30px;
    background-color: #FFCC00;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

footer .page-button img {
    width: 30px;
    height: 30px;
}

/* details */
.menu-header {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.menu {
    width: 100%;
    height: 100%;
    flex: 1;
    color: #B1B1B1;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.select {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid #FFCC00;
}

h4 {
    padding-left: 5%;
}


.items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.item {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: 13px;
    margin: 5px auto;
}
.tiCouDday {
    display: flex;
}
.tiCouDday-ele {
    flex: 1;
}
.dDay {
    flex: 0.5;
    color: #B1B1B1;
    text-align: right;
    padding-right: 8px;
}